In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data
Content_Train = pd.read_csv('Content_Train.csv')
Content_Train

,title,content_no_custom_words,title_tokens,content_tokens
0,Betriebsmitarbeiter/in,betriebsmitarbeiter/in betriebsmitarbeiter/i...,['betriebsmitarbeiter'],"['betriebsmitarbeiter', 'betriebsmitarbeiter',..."
1,Infirmière Camp d'été,responsibilities: provides health care and ass...,"['infirmière', 'camp', ""d'été""]","['responsibility', 'provide', 'health', 'care'..."
2,Customer Service Industrialisation Manager (m/w),work with us what matters most to us? high le...,"['customer', 'service', 'industrialisation', '...","['work', 'matter', 'high', 'level', 'team', 'p..."
3,HR-Manager with particular focus on change-man...,the requirement for this job are as follows: -...,"['manager', 'particular', 'focus', 'change', '...","['requirement', 'follow', 'commercial', 'educa..."
4,Java Backend Developer - Business Rule Develop...,qualifikationenaufgaben several years’ experi...,"['java', 'backend', 'developer', 'business', '...","['qualifikationenaufgaben', 'year', 'experienc..."
...,...,...,...,...
30541,Landschaftsgärtner,landschaftsgärtner landschaftsgärtner mi...,['landschaftsgärtner'],"['landschaftsgärtner', 'landschaftsgärtner', '..."
30542,Sales Representative - LEADING COMPANY,sales representative - leading company th...,"['sale', 'representative', 'lead', 'company']","['sale', 'representative', 'lead', 'company', ..."
30543,Technical Project Buyer (m/f),we are global leaders in the recruitment of fr...,"['technical', 'project', 'buyer']","['global', 'leader', 'recruitment', 'freelance..."
30544,Horloger en boutique SAV (H/F),work with us what matters most to us? high lev...,"['horloger', 'boutique']","['work', 'matter', 'high', 'level', 'team', 'p..."
30545,Regional OEM Account Director,title: regional oem account director - hp emea...,"['regional', 'account', 'director']","['title', 'regional', 'account', 'director', '..."

In [3]:
# Load green words
green_words = pd.read_csv('green_words.csv', usecols=['words'])
green_words

                     words
0                acid rain
1              air quality
2             biodiversity
3            biotechnology
4    chemical optimisation
..                     ...
120     water availability
121       water management
122          water quality
123       water sanitation
124             biomedical

[125 rows x 1 columns]

In [4]:
# Drop content duplicates
Content_Train = Content_Train.drop_duplicates(subset=['content_tokens'], ignore_index = True)

In [5]:
# Label data
green = np.zeros(Content_Train['content_tokens'].shape[0])

for i in range(Content_Train['content_tokens'].shape[0]):
    Content_Train['content_tokens'].iloc[i]=Content_Train['content_tokens'].iloc[i].replace('[', '').replace(']', '').replace("'", '')
    for j in range(green_words['words'].shape[0]):
        if all(word in Content_Train['content_tokens'].iloc[i].split(', ') for word in green_words['words'].iloc[j].split(' ')):
            green[i]=1
            
            # if you want to verify which content is selected by which green word, uncomment the two following lines:
            #print(Content_Train['content_token'].iloc[i])
            #print(green_words['words'].iloc[j])
            

Content_Train['green_content'] = green

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/tmp/ipykernel_716/342831436.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Content_Train['green_content'] = green

In [6]:
Content_Train[['content_no_custom_words', 'green_content']]

                                 content_no_custom_words  green_content
0      betriebsmitarbeiter/in   betriebsmitarbeiter/i...            0.0
1      responsibilities: provides health care and ass...            1.0
2      work with us  what matters most to us? high le...            1.0
3      the requirement for this job are as follows: -...            0.0
4      qualifikationenaufgaben  several years’ experi...            0.0
...                                                  ...            ...
18171  relationship manager - russian - english main ...            0.0
18172  12-02-2018servicesen on behalf of our esteemed...            0.0
18173  sales representative - leading company      th...            1.0
18174  we are global leaders in the recruitment of fr...            0.0
18175  title: regional oem account director - hp emea...            0.0

[18176 rows x 2 columns]

In [7]:
# Save labeled data 
Content_Train[['content_no_custom_words', 'green_content']].to_csv('Content_Train_Label.csv')